body{text-align: center;
	background-color: #363636;
	background-image:url(../img/fundo.jpg);
   font-family: sans-serif;

}
#Rodape{
background-color:rgb(139,0,0); 
	color: white;
	border-style: solid;
	border-color: gray








}
.Atores{ background-color: white;
	color: black; 
	border-style: solid;
	border-color: gray;
	border-width: 6px;


}
h1{color: white;
	border-style: solid;
	border-color: gray;
    border-width: 6px;
    background-color: rgb(139,0,0);




}
h2{color:#C0C0C0;}
a{Color:black;
	background-color: white;
	border-style:solid;
	border-color: gray;
}






}
h3{color:#C0C0C0;







}
ul{ 
 





}