body{
	background-image: url(../img/Prancheta1.png);
	background-size: cover;
	background-attachment: fixed;
	font-family: sans-serif;
}
.container{
	flex-direction: row;
	flex-wrap: wrap;
}
h1{
	font-size: 44px;	
	color: #d77df9;
	padding-bottom: 0.7%;
	border-bottom: 5px double mediumpurple;
}
h2{
	font-size: 22px;
	color: #e3a5fa;
	border: 5px outset rebeccapurple;
	background-image: url(../img/footer.jpeg);
	width: 20%;
	padding: 1%;
}
h3{
	font-size: 22px;
	color: #e3a5fa;
	border: 5px outset rebeccapurple;
	background-image: url(../img/footer.jpeg);
	width: 10%;
	padding: 10px;
}
h4{
	font-size: 25px;
	color: #e3a5fa;
	border: 5px outset rebeccapurple;
	background-image: url(../img/footer.jpeg);
	width: 20%;
	padding: 10px;
}
h5{
	font-size: 25px;
	color: #e3a5fa;
	border: 5px outset rebeccapurple;
	background-image: url(../img/footer.jpeg);
	width: 20%;
	padding: 10px;
}
h6{
	font-size: 25px;
	padding-bottom:30px;
	margin-bottom: 5%;
}
ul{
	font-size: 20px;	
	color: #F2CFFF;
	border: 5px outset rebeccapurple;
	background-image: url(../img/footer.jpeg);
	width: 22%;
	padding: 20px 2px 20px 30px;
}
li{
	padding: 2% 0% 2% 0%;
}
.center{
	text-align: center;
	align-items: center;
}
#capa{
	border-radius: 100px;
}
#livro{
	border-radius: 40px;
	border: 6px outset rebeccapurple;
}
#p1{
	font-size: 22px;
	color: #e3a5fa;
	padding: 1%;
}
#p2{
	align-items: center;
	font-size: 18px;
	color: #e3a5fa;
	border: 5px outset rebeccapurple;
	background-image: url(../img/footer.jpeg);
	padding: 1%;
}
#p3{
	font-size: 22px;
	color: #e3a5fa;
	border: 5px outset rebeccapurple;
	background-image: url(../img/footer.jpeg);
	width: 90%;
	padding: 1%;
}
#p4{
	font-size: 22px;
	color: #e3a5fa;
	border: 5px outset rebeccapurple;
	background-image: url(../img/footer.jpeg);
	width: 90%;
	padding: 1%;	
}
#p5{
	font-size: 20px;	
	color: #F2CFFF;
	border: 5px outset rebeccapurple;
	background-image: url(../img/footer.jpeg);
	width: 90%;
	padding: 1%;	
}
#neil{
	border-radius: 40px;
	border: 6px outset rebeccapurple;
}
#neilfig{
	font-size: 22px;
	color: #e3a5fa;
	border: 5px outset rebeccapurple;
	background-image: url(../img/footer.jpeg);
	padding: 1%;
}
#selick{
	border-radius: 40px;
	border: 6px outset rebeccapurple;
}
#figselick{
	font-size: 22px;
	color: #e3a5fa;
	border: 5px outset rebeccapurple;
	background-image: url(../img/footer.jpeg);
	padding: 1%;
}
#portal{
	color: #e3a5fa;
	border: 5px outset rebeccapurple;
	border-radius: 40px;
}
#link1{
	text-decoration: none;
	color: white;
	border: 5px outset royalblue;
	background-color: royalblue;
	padding: 14px 25px;
}
#link2{
	text-decoration: none;
	color: white;
	border: 5px outset royalblue;
	background-color: royalblue;
	padding: 14px 25px;
}
#link3{
	text-decoration: none;
	color: white;
	border: 5px outset royalblue;
	background-color: royalblue;
	padding: 14px 25px;
}
#link4{
	text-decoration: none;
	color: white;
	border: 5px outset royalblue;
	background-color: royalblue;
	padding: 14px 25px;
}
footer{
	background-color:#8a569d;
	padding: 100px 100px 60px 100px;
}