body{
	background-image: url(../img/Prancheta1.png);
	background-size: cover;
	background-attachment: fixed;
	font-family: sans-serif;
}

footer{
	background-color:#8a569d;
	padding: 100px 100px 30px 100px;
}
h1{
	font-size: 44px;	
	color: #d77df9;
	border-bottom: 5px outset mediumpurple;
	padding-bottom: 1%;
}
h2{
	font-size: 22px;
	color: #e3a5fa;
	width: 20%;
	border: 5px outset rebeccapurple;
	background-image: url(../img/footer.jpeg);
	padding: 10px;
}
h3{
	font-size: 22px;
	color: #e3a5fa;
	width: 10%;
	border: 5px outset rebeccapurple;
	background-image: url(../img/footer.jpeg);
	padding: 10px;
}
#center{
	text-align: center;
	align-items: center;
}
#capa{
	border-radius: 100px;
}
#coraline{
	border-radius: 40px;
	margin-left: 3.5%;
	border: 6px outset rebeccapurple;
}
#p1{
	font-size: 22px;
	color: #e3a5fa;
}
#p2{
	font-size: 18px;
	color: #e3a5fa;
	width: 20%;
	margin-left: 4%;
	border: 5px outset rebeccapurple;
	background-image: url(../img/footer.jpeg);
	padding: 1%;
}
#p3{
	font-size: 22px;
	color: #e3a5fa;
	width: 60%;
	border: 5px outset rebeccapurple;
	background-image: url(../img/footer.jpeg);
	padding: 10px;
}
#p4{
	font-size: 22px;
	color: #e3a5fa;
	width: 60%;
	border: 5px outset rebeccapurple;
	background-image: url(../img/footer.jpeg);
	padding: 10px;
}
#wybie{
	border-radius: 40px;
	border: 6px outset rebeccapurple;
}
#link1{
	border: 5px outset royalblue;
	background-color: royalblue;
  color: white;
  padding: 14px 25px;
  text-decoration: none;
  display: inline-block;
}
#link2{
	border: 5px outset royalblue;
	background-color: royalblue;
  color: white;
  padding: 14px 25px;
  text-decoration: none;
  display: inline-block;
  margin: 5% 0% 0% 2%;
}
#h5-6{
	font-size: 25px;
	padding-bottom:30px;
}
.livro{
	border: 30px solid transparent;
	border-image: url(../img/border4.jfif) 200 round;
	padding: 5% 0% 20% 0%;
}