body{text-align: center;
	background-color: #363636;
	background-image:url(../img/fundo.jpg);


}
#Nome1{background-color: white;
	color: black







}
#Rodape{
background-color:rgb(139,0,0); 
	color: white;
	border-style: solid;
	border-color: gray








}
h1{color:#C0C0C0;
	border-style: solid;
	border-color: gray;





}
h2{color:#C0C0C0;






}
h3{color:#C0C0C0;







}
ul{ 
 bor





}
a{Color:black;
	background-color: white;
	border-style:solid;
	border-color: gray;




}